
@import url('https://fonts.googleapis.com/css2? family= Changa+One & family= Kanit & display=swap');

body {
    background: #323432;
    font-family:'Comic Sans MS';
    background-image: url("https://i0.wp.com/static.vecteezy.com/system/resources/thumbnails/000/633/757/original/RR-v-jun-2019-6.jpg");
    background-size: cover;

}


p {
    font-size: 10vw;
    margin-top: 30px;
}

#png {
    width: 11vw;
    float: left;
    margin-left: 5vw;
    margin-top: 0;
}

#testa {
    text-align: center;
    color: white;
    width: 101%;
    height: 20vw;
    background:linear-gradient(black ,#1E201E , grey , white );
    margin: 0;
    border-radius: 0px 0px 30px 30px;
    border: solid lawngreen 3px;
    box-shadow: 2px 2px 10px lawngreen;
    margin-bottom: 200px;
}

#palla {
    float: right;
    width: 10vw;
    margin-right: 5vw;
}
#titolo {
    text-shadow: 2px 2px 10px lawngreen;
    font-size: 9vw;
}

.fascia {
    height: 40vw;
    width: 70vw;
    background:linear-gradient(black ,#1E201E , grey , white );
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid lawngreen 3px;
    box-shadow: 2px 2px 10px lawngreen;

}

.uno {
    border-radius: 0px 90px 90px 0px;
    margin-bottom: 0;
}

.due {
    border-radius: 90px 0px 0px 90px;
    position: relative;
    left: 30vw;
    margin-top: 0;
    margin-bottom: 20vw;
}
#fasciaset {
    background-color: #1E201E;
    height: 15vw;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid black 3px;
    visibility: hidden;
}

.bottoneuno {
    height: 30vw;
    width: 30vw;
    margin-top: 5vw;
    position: relative;
    left: 37vw;
    border-radius: 50%;
    background: linear-gradient(red,darkred);
    font-size: 50px;
    box-shadow: 2px 2px 10px white;
    border: solid white 3px;
    transition: background-color 0.2s ease-in-out;
    font-family:'Comic Sans MS';
}

.bottoneuno:active {
    box-shadow: inset 2px 2px 10px white;
    background:linear-gradient(black,darkred);
    color:white;
}

.bottonedue {
    height: 30vw;
    width: 30vw;
    margin-top: 5vw;
    position: relative;
    right: 20vw;
    border-radius: 50%;
    background: linear-gradient(blue,darkblue);
    font-size: 50px;
    box-shadow: 2px 2px 10px white;
    border: solid white 3px;
    transition: background-color 0.2s ease-in-out;
    font-family:'Comic Sans MS';
}

.bottonedue:active {
    box-shadow: inset 2px 2px 10px white;
    background:linear-gradient(black,midnightblue);
    color:white;

}

.punteggiouno {
    height: 180px;
    width: 20vw;
    background-color: azure;
    display: inline-block;
    float: right;
    margin-top: 13vw;
    margin-right: 2vw;
    border: solid black 3px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px lawngreen;
}

.punteggiodue {
    height: 180px;
    width: 20vw;
    background-color: azure;
    display: inline-block;
    float: left;
    margin-top: 13vw;
    margin-left: 4vw;
    border: solid black 3px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px lawngreen;

}

#punteggioset1 {
    margin-left: 30vw;
    color: red;
    margin-right: 10px;

}

#punteggioset2 {
    color: blue;
    margin-left: 10px;

}

#punteggioset1, #punteggioset2 {
    text-align: center;
    height: 20vw;
    width: 20vw;
    background-color: azure;
    border: solid black 3px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 2px 2px 10px lawngreen;
}


#punto1, #punto2 {
    text-align: center;

}




